---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_key&location=san%20francisco,ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 27 Apr 2022 05:42:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"san
        francisco,ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Francisco","adminArea5Type":"City","adminArea4":"San Francisco County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039201","unknownInput":"","type":"s","latLng":{"lat":37.78008,"lng":-122.420168},"displayLatLng":{"lat":37.78008,"lng":-122.420168},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_key&type=map&size=225,160&locations=37.78008,-122.420168|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-553318261"}]}]}'
  recorded_at: Wed, 27 Apr 2022 05:42:48 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=weather_key&lat=37.78008&lon=-122.420168&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.7794,"lon":-122.4184,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1651038113,"sunrise":1650979177,"sunset":1651028097,"temp":50.72,"feels_like":49.21,"pressure":1014,"humidity":79,"dew_point":44.46,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":23.02,"wind_deg":280,"wind_gust":29.93,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"minutely":[{"dt":1651038120,"precipitation":0},{"dt":1651038180,"precipitation":0},{"dt":1651038240,"precipitation":0},{"dt":1651038300,"precipitation":0},{"dt":1651038360,"precipitation":0},{"dt":1651038420,"precipitation":0},{"dt":1651038480,"precipitation":0},{"dt":1651038540,"precipitation":0},{"dt":1651038600,"precipitation":0},{"dt":1651038660,"precipitation":0},{"dt":1651038720,"precipitation":0},{"dt":1651038780,"precipitation":0},{"dt":1651038840,"precipitation":0},{"dt":1651038900,"precipitation":0},{"dt":1651038960,"precipitati[...]
