---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_key&location=san%20francisco,ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 26 Apr 2022 21:36:19 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"san
        francisco,ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Francisco","adminArea5Type":"City","adminArea4":"San Francisco County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039201","unknownInput":"","type":"s","latLng":{"lat":37.78008,"lng":-122.420168},"displayLatLng":{"lat":37.78008,"lng":-122.420168},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_key&type=map&size=225,160&locations=37.78008,-122.420168|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1311620523"}]}]}'
  recorded_at: Tue, 26 Apr 2022 21:36:19 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=weather_key&exclude=minutely&lat=37.78008&lon=-122.420168&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.7801,"lon":-122.4202,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1651008979,"sunrise":1650979178,"sunset":1651028098,"temp":61.68,"feels_like":60.37,"pressure":1016,"humidity":60,"dew_point":47.68,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":27.63,"wind_deg":290,"wind_gust":35.68,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1651006800,"temp":61.02,"feels_like":59.59,"pressure":1016,"humidity":59,"dew_point":46.6,"uvi":0,"clouds":16,"visibility":10000,"wind_speed":17.81,"wind_deg":281,"wind_gust":21.43,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1651010400,"temp":61.68,"feels_like":60.37,"pressure":1016,"humidity":60,"dew_point":47.68,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":17.74,"wind_deg":281,"wind_gust":21.68,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1651014000,"temp":60.93,"feels_like":59.54,"pressure":1016,"humidity":60,"dew_point":46.96,"uvi":0,"clouds":16,"visibility":10000,"wind_speed":17.2,"wind_deg":283,"wind_gust":22.55,"weather":[{"id":801,"main[...]
