---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_key&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 26 Apr 2022 04:17:15 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1041096900"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=506695456"}]}]}'
  recorded_at: Tue, 26 Apr 2022 04:17:15 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=weather_key&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7368,"lon":-104.9795,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1650946627,"sunrise":1650888476,"sunset":1650937647,"temp":45.05,"feels_like":41.92,"pressure":1024,"humidity":52,"dew_point":28.9,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":5.75,"wind_deg":230,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"minutely":[{"dt":1650946680,"precipitation":0},{"dt":1650946740,"precipitation":0},{"dt":1650946800,"precipitation":0},{"dt":1650946860,"precipitation":0},{"dt":1650946920,"precipitation":0},{"dt":1650946980,"precipitation":0},{"dt":1650947040,"precipitation":0},{"dt":1650947100,"precipitation":0},{"dt":1650947160,"precipitation":0},{"dt":1650947220,"precipitation":0},{"dt":1650947280,"precipitation":0},{"dt":1650947340,"precipitation":0},{"dt":1650947400,"precipitation":0},{"dt":1650947460,"precipitation":0},{"dt":1650947520,"precipitati[...]
