---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=new%20york%20city,ny&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wb4EkF_xjSVF4bLaM3GPR82GsBlZLb0QkFtZNKCMyOJIT0tLi2_SUbLVorDwM0uV0wxRPg75ThgsCJG_TPfSpPlc5WSP7m-vXyLPigWKlOnB8HxfGSUZOA2nh7NmYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-769597b4ff-lkx4l; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - b6e367b4c5bd08c2
      Ratelimit-Remaining:
      - '4993'
      Ratelimit-Resettime:
      - '2022-04-26T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-126-17-uswest2aprod
      X-Extlb:
      - 10-69-126-17-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "0CjK3esfpFcxIopebzjFxA", "alias": "joes-shanghai-new-york-2",
        "name": "Joe''s Shanghai", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/xM4eGRjk_EfSc1V8MdkRXw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/joes-shanghai-new-york-2?adjust_creative=qu8CAL1egblZ38yPBkfD_A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=qu8CAL1egblZ38yPBkfD_A",
        "review_count": 6674, "categories": [{"alias": "shanghainese", "title": "Shanghainese"},
        {"alias": "seafood", "title": "Seafood"}, {"alias": "noodles", "title": "Noodles"}],
        "rating": 4.0, "coordinates": {"latitude": 40.7156608, "longitude": -73.9967012},
        "transactions": ["pickup", "delivery"], "price": "$$", "location": {"address1":
        "46 Bowery St", "address2": "", "address3": "", "city": "New York", "zip_code":
        "10013", "country": "US", "state": "NY", "display_address": ["46 Bowery St",
        "New York, NY 10013"]}, "phone": "+12122338888", "display_phone": "(212) 233-8888",
        "distance": 1153.9482385806896}, {"id": "lynQoI3w_pzYfHGeuUU-Qg", "alias":
        "shu-jiao-fu-zhou-cuisine-restaurant-new-york", "name": "Shu Jiao Fu Zhou
        Cuisine Restaurant", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/KeTLdK2NtflEja2V0TTf-g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/shu-jiao-fu-zhou-cuisine-restaurant-new-york?adjust_creative=qu8CAL1egblZ38yPBkfD_A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=qu8CAL1egblZ38yPBkfD_A",
[...]
